$light-color: #f7f7f7;
$text-color: #8f91a2;
$main-color: #6341a5;
$light-purple: #876bb9;
$hilight2: #d6c9ed;

a {
  border-bottom: 2px solid transparent;
  color: $main-color;
  cursor: pointer;
  text-decoration: none;
  transition: .2s ease;

  &:hover {
      @extend a;
      border-bottom: 2px solid $main-color;
  }
  }

body {
  background: $light-purple;
  color: $text-color;
  display: flex;
  font-family: 'montserrat', sans-serif;
  justify-content: center;


}

.container {
  min-width: 350px;
  width: 50vw;
}

img {
  border: solid 2px;
  border-color: $main-color;
  width: 3em;
}

.media-object, .footer {
  background: $light-color;
  border: solid $main-color;
  margin: 1em;
  overflow: hidden;
  padding: .5em;

  .image-container {
    float: left;
    margin: .5em;
  }

  .text {
    overflow: hidden;
  }

}

.filter-button {
    background-color: $main-color;
    border: 0;
    color: $light-color;
    font-size: 16px;
    min-height: 2em; 
}

.footer {
  display: flex;
  justify-content: space-between;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end; 
}

input {
  &[type='submit'] {
  @extend .filter-button;
  }

  &[type='text'] {
    background-color: $hilight2;
    border: 1px solid $light-purple;
    color: $main-color;
    font-size: 16px;
    margin-right: 10px;
    width: 60%;
  }
}
