body {
  justify-content: center;
  background: #6341a5;
  color: #8f91a2;
  display: flex;
  font-family: 'montserrat', sans-serif; }
  body a, body a:hover {
    border-bottom: 2px solid transparent;
    color: #6341a5;
    cursor: pointer;
    text-decoration: none;
    transition: .2s ease; }
    body a:hover {
      border-bottom: 2px solid #6341a5; }
  body img {
    border: solid 2px;
    border-color: #6341a5;
    width: 3em; }

table {
  border-collapse: collapse;
  min-height: 50vh;
  width: 60vw; }
  table th {
    background: #f7f7f7;
    font-size: 24px; }
    table th .user {
      width: 15%; }

tr {
  font-size: 16px; }
  tr:nth-child(odd) {
    background: #e1daed; }
  tr:nth-child(even) {
    background: #d6c9ed; }

.username {
  display: flex;
  align-items: center; }
